<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334031443141-mnat21pgdh4vnn4k0phm28e75p8g5csa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334031443141-mnat21pgdh4vnn4k0phm28e75p8g5csa</string>
	<key>API_KEY</key>
	<string>AIzaSyBE2JmnWXMOFV9LU1JNATGSpUnoScKSskc</string>
	<key>GCM_SENDER_ID</key>
	<string>334031443141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.receipesListDummyApp</string>
	<key>PROJECT_ID</key>
	<string>receipts-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>receipts-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334031443141:ios:82e21109e345333285ccac</string>
</dict>
</plist>